*{
    margin: 0;
    padding: 0;
    
   
}

body {
    font-family: 'Regular';
    height: 100%;
    width: flex;
    color: white;
    background-color: #000000
}

header{
    position: sticky;
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 10px 20px;
    align-items: center;
}

.logo{
    width: 50px;
    height: 50px;
}

.headersearch{
    padding: 10px 30px 10px 30px;
    border-radius: 5px;
    border: none;
    outline: none;
}

a{
    text-decoration: none;
    color: white;
    padding-left: 30px;
    font-size: 20px;

}

.auth {
 	position: absolute;
 	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	text-align: column;
	
}

.auth h2 {
	color: white;
	margin: 10px;
	font-size:40px;
}

.forms {
 	display: flex;
  	flex-direction: column; 
  	gap: 10px;              
  	width: 250px;           
}

.forms input {
	padding: 8px 12px;
  	font-size: 20px;
  	border: 1px;
  	border-radius: 4px;\
  	border: none;
  	outline: none;
}
.forms button {
  	padding: 8px 12px;
  	font-size: 16px;
  	border: 1px;
  	border-radius: 4px;
}

.forms button {
  	background: #b91c1c;
  	color: white;
  	border: none;
}

.forms a {
	color:#b91c1c ;
	
	margin: 10px;
}

footer{
	position: absolute;
	bottom: 0;
  	left: 0;
  	right: 0;
    background-color: #000000;
    min-height: 80px;          
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;                 
    padding: 20px;
   
}
.footer-links {
    width: 24px;
    height: 24px;
    padding: 10px;
    align-items: center;
    
}

.copyright p {
    color: #ffffff;
    font-size: 14px;
    margin: 0;
    text-align: center;
}